.id::before {
    content: "";
    display: block;
    border-left: 1px solid var(--gray-400);
    height: 5.25rem;
}

.id {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.id span {
    border: 1px solid var(--gray-400);
    display: block;
    width: 3.5rem;
    padding-block: 1rem;
    text-align: center;
    border-radius: 100%;
}

.first-section .id {
    margin-bottom: 4rem;
}

.first-section__imgs img {
    width: 9.375rem;
    border-radius: 8px;
}

.first-section__imgs {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    margin-bottom: 4rem;
}

.first-section__description {
    padding-inline: 1.5rem;
}